<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Spin Off Class</title>
  <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
</head><!--/head-->

<body>
  <header id="home">
    <div class="main-nav" id="corMenu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo/spinOff.svg" alt="logo" width="100"></h1>
          </a>
        </div><!-- /navbar -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#about-us">Quem Somos</a></li>
            <li class="scroll"><a href="#features">Cadastre-se</a></li>
            <li class="scroll"><a href="#team">Time</a></li>
            <li class="scroll"><a href="#contact">Contato</a></li>
          </ul> <!-- /nav -->
        </div><!-- /collapse -->
      </div><!-- /container -->
    </div><!--/main-nav-->
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/logo/spinOff.svg)"></div>
      </div><!-- /carousel -->
    </div><!-- /home-slider -->
  </header><!--/home-->

  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2><strong>Quem Somos</strong></h2>
            <p id="corP"> Somos compromissados em Fazer com você atinja a fluência que sempre quis.</p><br>
            <h3><strong>Spin off Class</strong></h3>
            <p id="corP">Somos uma rede social que tem como principal objetivo desenvolver a fluência de nossos usuarios, através de parcerias com escolas tanto no ambito nacional, quanto internacional, promovendo uma troca de conhecimentos entre os alunos.
              A princípil, com o foco voltado para os idiomas português e inglês, proporcionamos aos nossos usuarios a oportunidade de exercitar online, o que seria uma continuação das suas  aulas de converssassão através de chamadas de video e texto com limite de caracteres para forçar os mesmos a praticarem a fala, que é a habilidade desenvolvida com maior dificuldade entre os alunos.
              Converse com outros estudantes como você, de outra parte do mundo,  e faça a sua rede de amigos,ajude o proximo a desenvolver melhores habilidades em português e recebe como retorno melhorar a sua proeficiencia em inglês.
            </p>
          </div><!-- /about -->
        </div><!-- /col-md-6 -->
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="about-image">

            </div>
          </div><!-- /about -->
        </div><!-- /col-md-6 -->

      </div><!-- /row -->
    </div><!-- /container -->
  </section><!--/about-us-->

  <section id="features" class="parallax">
    <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <h2><strong>Cadastre-se</strong></h2><br>
    </div><!-- /about-info -->
    <div class="container">
      <div class="row count">
        <form id="main-contact-form" name="contact-form" method="post" action="#">
          <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" name="nome" class="form-control" placeholder="* Nome" required="required">
              </div><!-- /form-group -->
            </div><!-- /col-sm-6 -->
            <div class="col-sm-6">
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="* Email" required="required">
              </div><!-- /form-group -->
            </div><!-- /col-sm-6 -->
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" name="escola" class="form-control" placeholder="Frequesta Alguma escola de Inglês? Se sim, Qual?" >
              </div><!-- /form-group -->
            </div><!-- /col-sm-6 -->
          </div><!-- /row -->
          <div class="form-group">
            <button type="submit" class="btn-submit">Enviar</button>
          </div><!-- /form-group -->
        </form>
      </div><!-- /row -->
    </div><!-- /container -->
  </section><!--/features-->

  <section id="team">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>Time</h2>
        </div><!-- /heading -->
      </div><!-- /row -->
      <div class="team-members">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="col-sm-4">
              <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="member-image">
                  <img class="img-responsive" src="images/team/1.jpg" alt="">
                </div><!-- /member-image -->
                <div class="member-info">
                  <h3>Francisco Soccol</h3>
                  <h4>Desenvolvedor</h4>
                </div><!-- /member-info -->
              </div><!-- /team-member -->
            </div><!-- /col-sm-4 -->
            <div class="col-sm-4">
              <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class="member-image">
                  <img class="img-responsive" src="images/team/2.jpg" alt="">
                </div><!-- /member-image -->
                <div class="member-info">
                  <h3>Keicila Marcial</h3>
                  <h4>CEO & Desenvolvedora</h4>
                </div><!-- /member-info -->
              </div><!-- /team-member -->
            </div><!-- /col-sm-4 -->
            <div class="col-sm-4">
              <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                <div class="member-image">
                  <img class="img-responsive" src="images/team/3.jpg" alt="">
                </div><!-- /member-image -->
                <div class="member-info">
                  <h3>Luiz Guilherme</h3>
                  <h4>Marketing & Vendas</h4>
                </div><!-- /member-image -->
              </div><!-- /team-member -->
            </div><!-- /col-sm-4 -->
          </div><!-- /col-md-10 -->
        </div><!-- /row -->
      </div><!-- /team-members -->
    </div><!-- /container -->
  </section><!--/#team-->

  <section id="twitter" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="item">
            <h2 id="corB">Você não precisa viajar para estar fora do seu país</h2>
            <h4 id="corB">Spin Off Class</h4>
            <h5 id="corB">Learning has no limits</h5>
          </div><!-- /item -->
        </div><!-- /col-sm-8 -->
      </div><!-- /row -->
    </div><!-- /container -->
  </section><!--/twitter-->

  <section id="contact">
    <div id="contact-us" class="parallax2">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contato</h2>
            <p>Em caso de qualquer dúvida, compartilhe conosco</p>
          </div><!-- /heading -->
        </div><!-- /row -->
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#" id="textoCad">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="nome" class="form-control" placeholder="Nome" required="required">
                    </div><!-- /form-group -->
                  </div><!-- /col-sm-6 -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email" required="required">
                    </div><!-- /form-group -->
                  </div><!-- /col-sm-6 -->
                </div><!-- /row -->
                <div class="form-group">
                  <input type="text" name="assunto" class="form-control" placeholder="Assunto" required="required">
                </div><!-- /form-group -->
                <div class="form-group">
                  <textarea name="menssagem" id="message" class="form-control" rows="4" placeholder="Digite a sua Mensagem" required="required"></textarea>
                </div><!-- /form-group -->
                <div class="form-group">
                  <button type="submit" class="btn-submit">Enviar</button>
                </div><!-- /form-group -->
              </form>
            </div><!-- /col-sm-6 -->
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Entre em contato por telefone, E-mail, ou escreva-nos uma mensagem através site.</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> São Mateus - ES, Brasil</span></li>
                  <li><i class="fa fa-phone"></i> <span> +55 27 99934-3123 </span></li>
                  <li><i class="fa fa-envelope"></i> <span> contato@spinoffclass.com</span></li>
                </ul>
                <div id="social-icons">
                  <div class="social-icons pull-left">
                    <ul>
                      <li><a class="envelope" href="#"><i class="fa fa-instagram"></i></a></li>
                      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                  </div><!-- /social-icons -->
                </div><!-- /social-icons -->
              </div><!-- /contact-info -->
            </div><!-- /col-sm-6 -->
          </div><!-- /row -->
        </div><!-- /contact-info -->
      </div><!-- /container -->
    </div><!-- /contact-us -->
  </section><!--/contact-->

  <footer id="footer">
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2017 Todos os direitos reservados.</p>
          </div><!-- /col-sm-6 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /footer-bottom -->
  </footer><!-- /footer -->

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
